/*CSS* *GENERALE* *HEADER* *FOOTER* *HOME* *NOUS RENCONTRER* *COMMANDER* *RESPONSIVE*/

/*Aide Bordure*/
/*{
   border: solid 1px blue !important;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./*GENERALE*//*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./

/*GENERALE*/
body{
   font-family: 'Syne', sans-serif;
   color: #000000;
   max-width: 1440px;
   margin: auto;
   overflow-x: hidden;
}

/*Titre H1*/
h1{
   font-family: 'Syne', sans-serif;
   font-weight: 800;
   font-size: 48px;
   line-height: 57.6px;
   color: #FFFFFF;
}

/*Titre H2*/
h2{
   font-family: 'Syne', sans-serif;
   font-weight: 800;
   font-size: 38px;
   line-height: 45.6px;
   color: #FFFFFF;  
}

/*Titre H3*/
h3{
   font-family: 'Syne', sans-serif;
   font-weight: 800!important;
   font-size: 30px;
   line-height: 36px!important;
   color: #FFFFFF;
}

/*Titre H4*/
h4{
   font-family: 'Syne', sans-serif;
   font-weight: 700!important;
   font-size: 30px;
   line-height: 36px!important;
   color: #FFFFFF;
}

/*Titre H5*/
h5{
   font-family: 'Syne', sans-serif;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   color: #FFFFFF;
}

/*Paragraphe text*/
p{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   color: #000000;
}

/*Paragraphe text petit*/
.p2{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.2px;
   color: #000000;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./*HEADER*//*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*HEADER*/

/*Header conteneur*/
#header{
   display: flex;
   height: 80px;
   align-items: center;
   width: 100%;
}

/*Header conteneur*/
#header .container{
   width: 50%;
}

/*Conteneur logo*/
.custom-logo{
   width: 40%;
   height: auto;
}

/*Image logo*/
.custom-logo-link{
   object-fit: contain; 
}
 
/*Supprimer titre et slogan (description) du site*/
#branding{
   display: none;
}

/*Menu Nav en ligne*/
#menu-menu-principale{
   display: flex;
   width: 100%;
   height: 80px;
   align-items: center;
   justify-content: flex-end;
}

/*Conteneur Menu*/
#menu{
   width: 50%;
}

/*Header Lien <a> Menu*/
#menu a{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.2px;
   color: #000000;
}

/*Header Lien <a> Menu SURVOL*/
#menu a:hover{
   font-family: 'Syne', sans-serif;
   font-weight: 700;
   font-size: 13px;
   line-height: 15.6px;
   color: #000000;
}

/*NAV Nous rencontrer*/
#menu-item-40{
   order: 1;
   width: 200px;
   height: 80px;
}

/*NAV Commander*/
#menu-item-39{
   order: 3;
   height: auto;
   width: 236px;
   height: 80px;
   background-color: #E0B9B4;
}

/*NAV Commander TEXTE*/
#menu-item-39 a{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.2px;
   color: #FFFFFF; 
}

/*Commander conteneur */
#menu-item-39:hover{
   background-color: #C02E44;
}

/*NAV TEXTE Commander SURVOL*/
#menu-item-39:hover a{
   font-family: 'Syne', sans-serif;
   font-weight: 700;
   font-size: 13px;
   line-height: 15.6px;
   color: #FFFFFF;
}

/*NAV Admin*/
#menu-menu-principale > li:nth-child(3){
   order: 2;
   width: 140px;
   height: 80px;
   color: #FFFFFF;
}

/*NAV Commander placement texte*/
#menu-item-39 > a:nth-child(1){
  margin: 30%;
}

/*NAV Nous rencontrer placement texte*/
#menu-item-40 > a:nth-child(1){
   margin: 5%;
}
 
/*NAV Admin placement texte*/
#menu-menu-principale > li:nth-child(3) > a:nth-child(1){
   margin: 28%;
}

/*Centrer texte vertical dan le nav*/
#menu-menu-principale li{
   line-height: 80px;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./*FOOTER*//*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*FOOTER*/

/*Conteneur Footer*/
#site-footer {
   width: 100%;
   margin: auto;
   margin-bottom: auto;
   padding: 0;
}

/*Footer Couleurs...*/
.header-footer-group{
   padding: 20px;
   height: 60px;
   text-align: center;
}

/*Footer text*/
.Ml{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 60px;
   color: #000000;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./*HOME*//*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*HOME*/

/*Conteneur Séparateur arrondi*/
.home .elementor-element-e872f88{
   position: relative;
   background: #ECE2DA;
   height: 40vh;
   border-bottom-left-radius: 50% 20%;
   border-bottom-right-radius: 50% 20%;
   border-bottom: 12px solid#E3D9D0;
}

/*Home SECTION image canette*/
/*Conteneur image principal*/
.home #container{
   width: 100%;
}

/*Padding top Conteneur titre*/
.home .elementor-element-b36a5ed{
   padding-top: 80px;
}

/*Conteneur 3 images*/
.home .elementor-element-52e7e45{
   width: 100%;
   display: flex;
}

/*Conteneur*/
.home .elementor-element-e872f88{
   width: 100%;
}

/*Conteneur   BEUG NON 100% DE LARGEUR*/
.home .e-con-inner{
   width: 100%;
   padding-top: 100px;
}

/*Conteur conteneur Feuille de gauche*/
.home .elementor-element-8ee9ce3{
   width: 33%;  
   padding-top: 85px;
}

/*Image Feuille de gauche*/
.home .elementor-element-8ee9ce3 > div:nth-child(1) > img:nth-child(2){
   z-index: 1;
   margin-left: 58%;
}

/*Conteneur conteneur Canette*/
.home .elementor-element-ba57524{
   width: 33%;
   margin: auto;
}

/*Conteneur Canette*/
.home .elementor-element-ba57524 > div:nth-child(1){
   margin: auto;
   z-index: 3;
   position: relative;
}

/*Image Canette*/
.home .elementor-element-ba57524 > div:nth-child(1) > img:nth-child(1){
   z-index: 3;
   margin: auto;
}

/*Conteur conteneur Feuille de droite*/
.home .elementor-element-09150f8{
   width: 33%;
   padding-top: 85px;
}

/*Image Feuille de droite*/
.home .elementor-element-09150f8 > div:nth-child(1) > img:nth-child(1){
   z-index: 1;
   margin-left: -118%;
   position: relative;
}

/**************************************************************************************************/
/*Home SECTION L'énergie des plantes*/

/*Texte palcement "Planty, c’est la première boisson
énergisante composée à 100 % de produits naturels..." */
.home .elementor-element-aec91a0{
   margin-top: 30px;
   padding-bottom: 40px;
}

/*Texte "Planty, c’est la première boisson
énergisante composée à 100 % de produits naturels..." */
.home .elementor-element-c3e82c4{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
}

/**************************************************************************************************/
/*Home SECTION Les goûts IMAGES*/

/*conteneur padding 0*/
.home .elementor-element-0049813{
   padding: 0;
}

/*conteneur galerie 4 images*/
.home .elementor-element-566e9c9{
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 100%;
   height: 620px;
   margin-top: 20px;
}

/*Conteneur image fraise*/
.home .elementor-element-27cb8b2 > div:nth-child(1) > img:nth-child(1){
   width: 56.96%;
   height: 262px;
   margin-left: 43%;
}

/*Conteneur image pamplemousse*/
.home .elementor-element-f6ba255 > div:nth-child(1) > img:nth-child(1){
   width: 56.96%;
   height: 262px;
   margin-right: 43%;
}

/*Conteneur image framboise*/
.home .elementor-element-77821b1 > div:nth-child(1) > img:nth-child(1){
   width: 56.96%;
   height: 262px;
   margin-left: 43%;
 }

/*Conteneur image citron*/
.home .elementor-element-d08c8a8 > div:nth-child(1) > img:nth-child(1){
   width: 56.96%;
   height: 262px;
   margin-right: 43%;
}

/**************************************************************************************************/
/*Home SECTION Les goûts IMAGES*/

/*Titre H1 blanc*/
/*Conteneur Titre fraise*/
.home .elementor-element-9f5b5f0 > div:nth-child(1){
   width: 56.96%;
   margin-left: 43%;
   z-index: 2;
}

/*Placement Conteneur Titre fraise*/
.home .elementor-element-9f5b5f0{
   bottom: 460px;
}

/*Typo Titre*/
.home .elementor-element-9f5b5f0 > div:nth-child(1) > h1:nth-child(1){
   font-family: 'Syne';
   font-size: 48px;
   font-weight: 800;
   line-height: 57.6px;
}

/*Conteneur Titre pamplemousse*/
.home .elementor-element-89b88ab > div:nth-child(1){
   width: 56.96%;
   margin-right: 43%;
   z-index: 2;
}

/*Placement Conteneur Titre pamplemousse*/
.home .elementor-element-40cf025{
   bottom: 350px;
}

/*Typo Titre*/
.home .elementor-element-40cf025 > div:nth-child(1) > h1:nth-child(1){
   font-family: 'Syne';
   font-size: 48px;
   font-weight: 800;
   line-height: 57.6px;
}

/*Conteneur Titre framboise*/
.home .elementor-element-40cf025 > div:nth-child(1){
   width: 56.96%;
   margin-left: 43%;
   z-index: 2;
}

/*Placement Conteneur Titre framboise*/
.home .elementor-element-89b88ab{
   bottom: 480px;
}

/*Typo Titre*/
.home .elementor-element-89b88ab > div:nth-child(1) > h1:nth-child(1){
   font-family: 'Syne';
   font-size: 48px;
   font-weight: 800;
   line-height: 57.6px;
}

/*Conteneur Titre citron*/
.home .elementor-element-7fa3054 > div:nth-child(1){
   width: 56.96%;
   margin-right: 43%;
   z-index: 2;
}

/*Placement Conteneur Titre citron*/
.home div.elementor-element:nth-child(8){
   bottom: 315px;
}

/*Typo Titre*/
.home div.elementor-element:nth-child(8) > div:nth-child(1) > h1:nth-child(1){
   font-family: 'Syne';
   font-size: 48px;
   font-weight: 800;

}

/**************************************************************************************************/
/*Home SECTION Les goûts IMAGES*//*BOUTON*/

/*Conteneur Bouton Commander Home*/
.home .elementor-element-a487859{
   padding: 0;
}

/*Conteneur Bouton Commander Home*/
.home div.elementor-element:nth-child(9){
   width: 100%;
}
 
/*Placement Bouton Commander Home*/
.home div.elementor-element:nth-child(9){
   margin: auto;
}

/*Taille Bouton Commander Home*/
.home .elementor-button{
   width: 198px;
   height: 55px;
}

/*Taille Texte Bouton Commander Home*/
.home .elementor-button-text{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 33px;
}

/**************************************************************************************************/
/*Home SECTION Ce qu'ils en pensent Conteneur*/

/*Conteneur Section Ce qu'ils en pensent*/
.home .elementor-element-eb7b7c4{
   width: 100%;
   height: 100%;
   padding: 0;
}

/*Conteneur conteneur Photos + Nom + Descriptif*/
.home .elementor-element-0e30121{
   width: 100%;
   margin-top: 20px;
}

/*Conteneur photo + Nom + Descriptif*/
.home .elementor-element-0e30121 > div:nth-child(1){
   width: 100%;
   margin: auto;
}

/*Conteneur conteneur Gallerie*/
.home #gallery-1{
   width: 100%;
   height: auto;
   justify-content: space-around;
   display: flex;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 30px;
   margin-bottom: 40px;
}

/*Conteneur Gallerie*/
.home .elementor-image-gallery{
   width: 100%;
}

/**************************************************************************************************/
/*Home SECTION Ce qu'ils en pensent, Galerie*/

/*Conteneur Gallerie FATIHA*/
.home dl.gallery-item:nth-child(1){
   display: grid;
   grid-template-columns: 126.28px 216.72px;
   width: 343px!important;
   height: 139px;
}

/*Conteneur Photo FATIHA*/
.home dl.gallery-item:nth-child(1) > dt:nth-child(1){
   width: 100%;
   height: 100%;
}

/*Photo FATIHA*/
.home dl.gallery-item:nth-child(1) > dt:nth-child(1) > img:nth-child(1){
   width: 126.8px;
   height: 139px;
   border: 0!important;
}

/*Texte Nom FATIHA*/
.home #gallery-1-30 > h4:nth-child(1){
   color: #3B8E46;
   width: 100%;
}

/*Texte FATIHA*/
.home #gallery-1-30 > p2:nth-child(3){
   display: block;
   width: 90%;
   text-align: left;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.2px;
   color: #000000;
   padding-left: 5%;
}

/**************************************************************************************************/
/*Home SECTION Ce qu'ils en pensent, Galerie VERO*/

/*Conteneur Gallerie VERO*/
.home dl.gallery-item:nth-child(2){
   display: grid;
   grid-template-columns: 126.28px 216.72px;
   width: 343px!important;
   height: 139px;
}

/*Conteneur Photo VERO*/
.home dl.gallery-item:nth-child(2) > dt:nth-child(1){
   width: 100%;
   height: 100%;
}

/*Photo VERO*/
.home dl.gallery-item:nth-child(2) > dt:nth-child(1) > img:nth-child(1){
   width: 126.8px;
   height: 139px;
   border: 0!important;
}

/*Texte Nom VERO*/
.home #gallery-1-31 > h4:nth-child(1){
   color: #3B8E46;
   width: 100%;
}

/*Texte VERO*/
.home #gallery-1-31 > p2:nth-child(3){
   display: block;
   width: 90%;
   text-align: left;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.2px;
   color: #000000;
   padding-left: 5%;
}

/**************************************************************************************************/
/*Home SECTION Ce qu'ils en pensent, Galerie MARC*/

/*Conteneur Gallerie MARC*/
.home dl.gallery-item:nth-child(3){
   display: grid;
   grid-template-columns: 126.28px 216.72px;
   width: 343px!important;
   height: 139px;
}

/*Conteneur Photo MARC*/
.home dl.gallery-item:nth-child(3) > dt:nth-child(1){
   width: 100%;
   height: 100%;
}

/*Photo MARC*/
.home dl.gallery-item:nth-child(3) > dt:nth-child(1) > img:nth-child(1){
   width: 126.8px;
   height: 139px;
   border: 0!important;
}

/*Texte Nom MARC*/
.home #gallery-1-32 > h4:nth-child(1){
   color: #3B8E46;
   width: 100%;
}

/*Texte MARC*/
.home #gallery-1-32 > p2:nth-child(3){
   display: block;
   width: 90%;
   text-align: left;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.2px;
   color: #000000;
   padding-left: 5%;
}

/**************************************************************************************************/
/*Home SECTION Cannettes pied de page*/

/*Conteneur conteneur Cannettes pied de page*/
.home .elementor-element-6550eb3{
   width: 100%;
   height: 100%;
}
 
/*Conteneur Cannettes pied de page*/
.home .elementor-element-6550eb3 > div:nth-child(1){
   width: 100%;
}

/*Image Cannettes pied de page*/
.home .elementor-element-6550eb3 > div:nth-child(1) > img:nth-child(1){
   width: 100%;
   height: 100%;  
   margin: auto;
   margin-top: 30px;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./*NOUS RENCONTRER*//*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*NOUS RENCONTRER*/

/*SECTION Titre + Image Fleur*/
/*Placement Titre*/
.nous-rencontrer h1.elementor-heading-title:nth-child(2){
   margin-top: 50px;
   padding-bottom: 10px;
}

/*Conteneur Nous rencontrer + fleur*/
.nous-rencontrer .elementor-element-8d7b988{
   display: flex;
   flex-direction: row;
}

/*Element Titre NOUS RENCONTRER*/
.nous-rencontrer .elementor-element-986747e{
   order: 2;
   padding-top: 100px;
   margin: auto;
}

/*Element Texte NOUS RENCONTRER*/
.nous-rencontrer .elementor-element-4baf497{
  order: 3;
  height: 125px;
}

/*Element Fleur*/
.nous-rencontrer .elementor-element-6a237c0{
   order: 1;
   width: 145.3px;
   height: 150.26px;
   transform: rotate(290deg);
   margin-left: 170px;
   margin-top: 40px;
   position: absolute;
}

/**************************************************************************************************/
/*NOUS RENCONTRER SECTION L'EQUIPE*/

/*Titre L'EQUIPE*/
.nous-rencontrer .elementor-element-62a7a90 > div:nth-child(1) > h4:nth-child(1){
   padding-top: 100px;
   padding-bottom: 20px;
}

/*Conteneur Titre L'EQUIPE*/
.nous-rencontrer .elementor-element-ab83a88{
   padding: 0;
}

/*Conteneur Background blanc arrondi*/
.nous-rencontrer .elementor-element-ab83a88{
   background-size: cover;
}

/*Conteneur L'EQUIPE Image + Nom + Texte*/
.nous-rencontrer .elementor-element-0875e95{
   padding: 0;
   margin: auto;
   max-width: 60%;
   padding-bottom: 50px;
}

/*Conteneur conteneur Feuille Image*/
.nous-rencontrer .elementor-element-1ebb1bb{
   position: absolute;
   right: -22%;
   z-index: 2;
   top: 119px;
}

/*Hauteur conteneur*/
.nous-rencontrer .elementor-element-9a12d0d{
   height: 40%;
}

/**************************************************************************************************/
/*NOUS RENCONTRER SECTION Nous contacter FORMULAIRE*/

/*Conteneur NOUS CONTACTER FORMULAIRE*/
.nous-rencontrer .elementor-element-968e99b{
   width: 400px;
   margin: auto;
}

/*Conteneur*/
.nous-rencontrer .nf-form-content{
   padding: 0;
}

/*SUPPRIMER Titre FORMULAIRE*/
.nous-rencontrer #nf-form-title-2{
   display: none;
}

/*SUPPRIMER Champ obligatoires.. FORMULAIRE*/
.nous-rencontrer .nf-form-fields-required {
   display: none;
}

/*SUPPRIMER Champ * FORMULAIRE*/
.nous-rencontrer #nf-label-field-5 > span:nth-child(1){
   display: none;
}

/*SUPPRIMER Champ * FORMULAIRE*/
.nous-rencontrer #nf-label-field-6 > span:nth-child(1){
   display: none;
}

/*SUPPRIMER Champ * FORMULAIRE*/
.nous-rencontrer #nf-label-field-7 > span:nth-child(1){
   display: none;
}

/*Taille Label NOM EMAIL MESSAGE*/
.nous-rencontrer #nf-label-field-5, #nf-label-field-6, #nf-label-field-7{
   font-size: 20px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: left;
}

/*Taille Input NOM*/
.nous-rencontrer #nf-field-5{
   height: 71px;
   border-radius: 7px;
}

/*Taille Input Email*/
.nous-rencontrer #nf-field-6{
   height: 71px;
   border-radius: 7px;
}

/*Taille Input MESSAGE*/
.nous-rencontrer #nf-field-7{
   height: 237px;
   border-radius: 7px;
}
/*Bouton ENVOYER*/
.nous-rencontrer #nf-field-8{
   width: 198px;
   height:55px;
   background-color: #E0B9B4;
   border-radius: 5px;
}

/*Conteneur Bouton ENVOYER*/
.nous-rencontrer #nf-field-8-wrap > div:nth-child(2){
   width: 198px;
   height: 55px;
   margin:auto;
}

/*Votre message a bien été envoyer*/
.nous-rencontrer .nf-response-msg > p:nth-child(1){
   text-align: center;
   font-weight: 700;
}

/*Supprimer espace*/
.nous-rencontrer #nf-form-errors-2{
   display: none;
}

/*Conteneur Fleur sous FORMULAIRE z-index..*/
.nous-rencontrer .elementor-element-6647cc0{
   position: absolute;
   margin-left: 30.2%;
   margin-top: 39.6%;
}

/*Fleur Image sous FORMULAIRE*/
.nous-rencontrer .elementor-element-6647cc0 > div:nth-child(1) > img:nth-child(1){
   width: 100%;
}

.nous-rencontrer .elementor-element-6647cc0 > div:nth-child(1){
   width: 147.32px;
   height: 134.97px;
}

/*Canettes pied de page*/
.nous-rencontrer .elementor-element-04c5920{
   padding: 0;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./*COMMANDER*//*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*COMMANDER*/

/*Conteneur Padding 0*/
.commander .elementor-element-f97b15a{
   padding: 0!important;
}

/*Conteneur Padding 0*/
.commander .elementor-element-71a3374{
   padding: 0;
   bottom: 45px;
}

/*Conteneur Titre*/
.commander .elementor-element-eed2b19 > div:nth-child(1){
   width: 100%;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 30px;
}

/*Conteneur conteneur Titre*/
.commander .elementor-element-eed2b19{
   width: 100%;
   margin: auto;
}

/*Conteneur conteneur Séparateur horizontal Blanc*/
.commander .elementor-element-ba5cf68{
   width:100%
}

/*Conteneur Séparateur horizontal Blanc*/
.commander .elementor-element-ba5cf68 > div:nth-child(1){
   width: 59.7%;
   margin: auto;
}

/*Séparateur horizontal Blanc*/
.commander .elementor-divider{
   width: 100%;
   margin-bottom: 30px;
}

/*Titre Votre commande*/
.commander div.elementor-element:nth-child(3){
   width: 50%;
   margin-left: 20%;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*Conteneur conteneur Taille formulaire Commande image fruit*/
.commander div.elementor-element:nth-child(4){
width: 59.72%;
margin: auto;
}  

/*Conteneur formulaire Commande*/
.commander #gallery-1{
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}


/*Titre de l'image fraise*/
.commander #gallery-1-25{
   z-index: 2;
   position: relative;
   margin: auto;
   color: #FFFFFF;
   font-family: 'Syne';
   font-size: 20px;
   font-weight: 800;
   line-height: 24px;
   text-align: center;
   bottom: 75px;
}

/*Titre de l'image pamplemousse*/
.commander #gallery-1-19{
   z-index: 2;
   position: relative;
   margin: auto;
   color: #FFFFFF;
   font-family: 'Syne';
   font-size: 20px;
   font-weight: 800;
   line-height: 24px;
   text-align: center;
   bottom: 85px;
}

/*Titre de l'image framboise*/
.commander #gallery-1-34{
   z-index: 2;
   position: relative;
   margin: auto;
   color: #FFFFFF;
   font-family: 'Syne';
   font-size: 20px;
   font-weight: 800;
   line-height: 24px;
   text-align: center;
   bottom: 85px;
}

/*Titre de l'image citron*/
.commander #gallery-1-18{
   z-index: 2;
   position: relative;
   margin: auto;
   color: #FFFFFF;
   font-family: 'Syne';
   font-size: 20px;
   font-weight: 800;
   line-height: 24px;
   text-align: center;
   bottom: 75px;
}

/*Taille de l'image fraise*/
.commander dl.gallery-item:nth-child(1) > dt:nth-child(1) > a:nth-child(1) > img:nth-child(1){
   width: 192.53px;
   height: 128.36px;
   border: none!important;
}

/*Taille de l'image pamplemousse*/
.commander dl.gallery-item:nth-child(2) > dt:nth-child(1) > a:nth-child(1) > img:nth-child(1){
   width: 192.53px;
   height: 128.36px;
   border: none!important;
}

/*Taille de l'image framboise*/
.commander dl.gallery-item:nth-child(3) > dt:nth-child(1) > a:nth-child(1) > img:nth-child(1){
   width: 192.53px;
   height: 128.36px;
   border: none!important;
}

/*Taille de l'image citron*/
.commander dl.gallery-item:nth-child(4) > dt:nth-child(1) > a:nth-child(1) > img:nth-child(1){
   width: 192.53px;
   height: 128.36px;
   border: none!important;
}

/*Taille Formulaire*/
.commander .elementor-element-ea3f93c{
   max-width: 100%;
   margin: auto;
}

/*Taille Formulaire*/
.commander .elementor-element-ea3f93c > div:nth-child(1){
   width: 100%;
}
 
/*Taille Formulaire*/
.commander .elementor-shortcode{
   width: 100%;
}

/*Taille Formulaire*/
.commander .wpcf7-form{
   max-width: 59.72%;
   margin: auto;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*Conteneur Input + formulaire*/
.commander #wpcf7-f570-p13-o1{
   width: 100%;
}

/*Input en ligne*/
.commander .input{
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   justify-content: center;
   flex-direction: row;
   margin: auto;
}

/*Input fraise*/
.commander .input > p:nth-child(1){
   width: 25%;
   margin: auto;
}

/*Input fraise*/
.commander .input > p:nth-child(1) > span:nth-child(3) > input:nth-child(1){
   width: 39px;
   height: 56px;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 16.39px;
   text-align: center;
   color: #000000;
}

/*Supprimer label input fraise*/
.commander .quantite-fraise{
   display: none;
}

/*Input pamplemousse*/
.commander .input > p:nth-child(2){
   width: 25%;
   margin: auto;
}

/*Input pamplemousse*/
.commander .input > p:nth-child(2) > span:nth-child(3) > input:nth-child(1){
   width: 39px;
   height: 56px;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 16.39px;
   text-align: center;
   color: #000000;
}

/*Supprimer label input pamplemousse*/
.commander .quantite-pamplemousse{
   display: none;
}

/*Input Framboise*/
.commander .input > p:nth-child(3){
   width: 25%;
   margin: auto;
}

/*Input Framboise*/
.commander .input > p:nth-child(3) > span:nth-child(3) > input:nth-child(1){
   width: 39px;
   height: 56px;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 16.39px;
   text-align: center;
   color: #000000;
}

/*Supprimer label input framboise*/
.commander .quantite-framboise{
   display: none;
}

/*Input Citron*/
.commander .input > p:nth-child(4){
   width: 25%;
   margin: auto;
}

/*Input Citron*/
.commander .input > p:nth-child(4) > span:nth-child(3) > input:nth-child(1){
   width: 39px;
   height: 56px;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 16.39px;
   text-align: center;
   color: #000000;
}

/*Supprimer label input citron*/
.commander .quantite-citron{
   display: none;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*Supprimer les flèches des inputs number*/

/* Firefox */
input[type=number] {
   -moz-appearance: textfield;
   appearance: textfield;
}
   
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
   -webkit-appearance: none;
   margin:0;
}
   
/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
   -o-appearance: none;
   margin:0
}
   
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*Séparateur horizontal sous input commande*/
.commander .separateurH{
   width: 100%;
   margin: auto;
   margin-top: 30px;
   margin-bottom: 30px;
}

/*Séparateur horizontal sous input commande*/
.commander .horizontal{
   width: 100%!important;
}

/*Conteneur Info Client 3 colonnes*/
.commander .wpcf7-form > id\=formulaire:nth-child(4){
   display: grid;
   grid-template-columns: 48% 4% 48%;
   margin: auto;
   justify-content: center;
   width: 100%;
   padding-top: 20px;
}

/*Taille colonne Gauche*/
.commander .info-client{
   width: 100%;
}

/*Taille colonne Droite*/
.commander .ad-client{
   width: 100%;
}

/*Afficher Nom, Prénom, Email colonne de gauche*/
.commander .info-client > h2:nth-child(1),.info-client > p:nth-child(2),.info-client > p:nth-child(3), .info-client > p:nth-child(4){
   grid-column-start: 1;
   grid-column-end: 2;
   width: 100%;
   border: 7px;
}

/*Afficher separateur blanc vertical*/
.commander .vertical{
   grid-column-start: 2;
   grid-column-end: 3;
   width: 100%;
   height: 447px;
}

/*Afficher Adresse, Code postal, Ville colonne de droite*/
.commander .ad-client > h2:nth-child(5), .ad-client > p:nth-child(6),.ad-client > p:nth-child(7), .ad-client > p:nth-child(8){
   grid-column-start: 3;
   grid-column-end: 4;
   width: 100%;
   border: 7px;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*Marge bottom Titre Vos infos*/
.commander .info-client > h4:nth-child(1){
   margin-bottom: 20px;
   margin-left: 5px;
}

/*Marge bottom Titre Livraison*/
.commander .ad-client > h4:nth-child(1){
   margin-bottom: 20px;
   margin-left: 5%;
}

/*Afficher Nom en blanc*/
.commander .info-client > p:nth-child(2) > label:nth-child(1){
   color: #FFFFFF;
   margin-left: 5px;
}

/*Afficher Prénom en blanc*/
.commander .info-client > p:nth-child(3) > label:nth-child(1){
   color: #FFFFFF;
   margin-left: 5px;
}

/*Afficher E-mail en blanc*/
.commander .info-client > p:nth-child(4) > label:nth-child(1){
   color: #FFFFFF;
   margin-left: 5px;
}

/*Afficher Ad livraison en blanc*/
.commander .ad-client > p:nth-child(2) > label:nth-child(1){
   color: #FFFFFF;
   margin-left: 5%;
}

/*Afficher Code postal en blanc*/
.commander .ad-client > p:nth-child(3) > label:nth-child(1){
   color: #FFFFFF;
   margin-left: 5%;
}

/*Afficher Ville en blanc*/
.commander .ad-client > p:nth-child(4) > label:nth-child(1){
   color: #FFFFFF;
   margin-left: 5%;
   margin-bottom: 10%;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*Taille input Nom */
.commander .info-client > p:nth-child(2) > span:nth-child(3) > input:nth-child(1){
   width: 93%;
   height: 71px;
   border-radius: 7px;
   margin-bottom: 5%;
   margin-top: 5%;
   margin-left: 5px;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 16.39px;
   color: #000000;
}

/*Taille input Préom */
.commander .info-client > p:nth-child(3) > span:nth-child(3) > input:nth-child(1){
   width: 93%;
   height: 71px;
   border-radius: 7px;
   margin-bottom: 5%;
   margin-top: 5%;
   margin-left: 5px;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 16.39px;
   color: #000000;
}

/*Taille input E-mail */
.commander .wpcf7-email{
   width: 93%;
   height: 71px;
   border-radius: 7px;
   margin-bottom: 5%;
   margin-top: 5%;
   margin-left: 5px;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 16.39px;
   color: #000000;
}

/*Taille input Ad */
.commander .ad-client > p:nth-child(2) > span:nth-child(3) > input:nth-child(1){
   width: 93%;
   height: 71px;
   border-radius: 7px;
   margin-bottom: 5%;
   margin-top: 5%;
   margin-left: 5%;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 16.39px;
   color: #000000;
}

/*Taille input Code postal */
.commander .ad-client > p:nth-child(3) > span:nth-child(3) > input:nth-child(1){
   width: 93%;
   height: 71px;
   border-radius: 7px;
   margin-bottom: 5%;
   margin-top: 5%;
   margin-left: 5%;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 16.39px;
   color: #000000;
}

/*Taille input Ville */
.commander .ad-client > p:nth-child(4) > span:nth-child(3) > input:nth-child(1){
   width: 93%;
   height: 71px;
   border-radius: 7px;
   margin-bottom: 5%;
   margin-top: 5%;
   margin-left: 5%;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 16.39px;
   color: #000000;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*Conteneur conteneur Bouton COMMANDER*/
.commander .wpcf7-form > p:nth-child(5){
   width: 100%;
   padding-top: 20px;
   padding-bottom: 40px;
   margin: auto!important;
   text-align: center;
}

/*Supprimer élement*/
.commander .wpcf7-spinner{
   display: none;
}

/*Bouton COMMANDER*/
.commander .wpcf7-submit{
   width: 198px;
   height: 55px;
   border-radius: 5px;
   background-color: #E0B9B4;
   color: #FFFFFF;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 37px;
   text-align: center;
}

/*Bouton COMMANDER SURVOL*/
.commander .wpcf7-submit:hover{
   background-color: #C02E44;
}

.commander .elementor{
   background-color: #3B8E46;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./*RESPONSIVE*//*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*RESPONSIVE*/

/*Ecrans entre 1025px à 1300px */
@media only screen and (min-width: 1025px) and (max-width: 1300px){

/*Conteneur Séparateur arrondi*/
.home .elementor-element-e872f88{
   position: relative;
   background: #ECE2DA;
   height: 30vh;
   border-bottom-left-radius: 50% 20%;
   border-bottom-right-radius: 50% 20%;
   border-bottom: 12px solid#E3D9D0;
}

/*Home Titre Fraise*/
.home .elementor-element-9f5b5f0 > div:nth-child(1) > h1:nth-child(1){
   font-size: 33px!important;
}

/*Home Titre Pamplemousse*/
.home .elementor-element-89b88ab > div:nth-child(1) > h1:nth-child(1){
   font-size: 33px!important;
}

/*Home Titre Framboise*/
.home .elementor-element-40cf025 > div:nth-child(1) > h1:nth-child(1){
   font-size: 33px!important;
}

/*Home Titre Citron*/
.home div.elementor-element:nth-child(8) > div:nth-child(1) > h1:nth-child(1){
   font-size: 33px!important;
}

/*Fleur Image sous FORMULAIRE Nous contacter*/
.nous-rencontrer .elementor-element-6647cc0 > div:nth-child(1) > img:nth-child(1){
   padding-top: 260px;
 
}
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./*RESPONSIVE*//*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*RESPONSIVE*/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*//*RESPONSIVE VERSION TABLETTE*/
/*Ecrans Tablette entre 768px à 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px){
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*//*RESPONSIVE 768px à 1024px*/
/*Header*/

/*Menu Header en colonne*/
.custom-logo{
   width: 60%;
}

#menu-menu-principale{
   width:50%;
   display: flex;
   flex-direction: column;
}

#menu-menu-principale li{
   height: 26.66px!important;
   width: 100%!important;
   line-height: 26.66px !important;
}
/*Menu à droite*/
.menu-menu-principale-container{
   display: flex;
  justify-content: flex-end;
}

/*Texte menu Commander*/
#menu-item-40{
   text-align: center;
}

/*Texte menu Nous rencontrer*/
#menu-item-39{
   text-align: center;
}

/*Texte menu Admin*/
#menu-menu-principale > li:nth-child(3){
   text-align: center;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*HOME*/

/*Conteneur Séparateur arrondi*/
.home .elementor-element-e872f88{
   position: relative;
   background: #ECE2DA;
   height: 30vh;
   border-bottom-left-radius: 50% 20%;
   border-bottom-right-radius: 50% 20%;
   border-bottom: 12px solid#E3D9D0;
}

/*Home Titre Fraise*/
.home .elementor-element-9f5b5f0 > div:nth-child(1) > h1:nth-child(1){
   font-size: 28px!important;
   
}
/*Home Titre Fraise*/
.home .elementor-element-9f5b5f0 > div:nth-child(1){
   margin-left: 25%!important;
}

/*Home Titre Pamplemousse*/
.home .elementor-element-89b88ab > div:nth-child(1) > h1:nth-child(1){
   font-size: 28px!important;
}

/*Home Titre Pamplemousse*/
.home .elementor-element-89b88ab > div:nth-child(1){
   margin-left: 25%!important;
}

/*Home Titre Framboise*/
.home .elementor-element-40cf025 > div:nth-child(1) > h1:nth-child(1){
   font-size: 28px!important;
}

/*Home Titre Framboise*/
.home .elementor-element-40cf025 > div:nth-child(1){
   margin-left: 25%!important;
}

/*Home Titre Citron*/
.home div.elementor-element:nth-child(8) > div:nth-child(1) > h1:nth-child(1){
   font-size: 28px!important;
}

/*Home Titre Citron*/
.home div.elementor-element:nth-child(8) > div:nth-child(1){
   margin-left: 25%!important;
}
/*Image Fraise*/
.home .elementor-element-27cb8b2 > div:nth-child(1) > img:nth-child(1){
   width: 100%;
  height: 100%;
  margin-left: 2%;
}

/*Image Pamplemousse*/
.home .elementor-element-f6ba255 > div:nth-child(1) > img:nth-child(1){
   width: 100%;
  height: 100%;
  margin-right: 2%;
}

/*Image Framboise*/
.home .elementor-element-77821b1 > div:nth-child(1) > img:nth-child(1){
   width: 100%;
  height: 100%;
  margin-left: 2%;
}

/*Image Citron*/
.home .elementor-element-d08c8a8 > div:nth-child(1) > img:nth-child(1){
   width: 100%;
  height: 100%;
  margin-right: 2%;
}

/*Ce qu ils en pensent en colonne*/
/*Galerie*/
.home #gallery-1{
   flex-direction: column;
}

/*Conteneur spacer*/
.home .elementor-element-5d12a65 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
   height: 50px;
}

/*Conteneur titre*/
.home .elementor-element-3b73ce8{
   background-color: #FFFFFF;
}

/*Conteneur conteneur Photos + Nom + Descriptif*/
.home .elementor-element-0e30121{
   background-color: #FFFFFF;
}

/*Marging Top*/
/*Véro*/
.home dl.gallery-item:nth-child(2){
   margin-top: 50px!important;
}

/*Marc*/
.home dl.gallery-item:nth-child(3){
   margin-top: 50px!important;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*Nous rencontrer*/

/*Titre Nous rencontrer*/
.nous-rencontrer .elementor-element-986747e{
   padding-top: 40px;
}
/*Titre Nous rencontrer*/
.nous-rencontrer h1.elementor-heading-title{
   font-size: 28px!important;
   margin-right: 100%;
   margin-bottom: 20px;
}

/*Imaghe Fleur*/
.nous-rencontrer .elementor-element-6a237c0{
   margin-left: 537px;
   margin-top: 5px;
}

/*Titre L'équipe*/
.nous-rencontrer .elementor-element-62a7a90 > div:nth-child(1) > h4:nth-child(1){
   padding-top: 20px!important;
}

/*Background Blanc L'équipe*/
.nous-rencontrer .elementor-element-ab83a88{
   background-image: none!important;
   background-color: white!important;
}

/*Image feuille L'équipe*/
.nous-rencontrer .elementor-element-1ebb1bb > div:nth-child(1) > img:nth-child(1){
   width: 50%;
   padding-top: 70px;

}

/*Fleur Image sous FORMULAIRE Nous contacter*/
.nous-rencontrer .elementor-element-6647cc0 > div:nth-child(1) > img:nth-child(1){
   padding-top: 310px;
 
}

/*Supprimé Spacer*/
.nous-rencontrer .elementor-element-f210143{
   display: none;
}

/*Titre Nous rencontrer padding*/
.nous-rencontrer .elementor-element-357c7ff > div:nth-child(1) > h4:nth-child(1){
   padding-bottom: 20px;
   padding-top: 20px;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*Commander*/

/*Titre Commander*/
.commander h2.elementor-heading-title{
   font-weight: 800!important;
   font-size: 28px;
}

/*Titre Vos informations*/
.commander .info-client > h4:nth-child(1){
   font-size: 22px;
}

/*Titre Livraison*/
.commander .ad-client > h4:nth-child(1){
   font-size: 22px;
} 

/*Taille séparateur horizontal*/
.commander .elementor-element-ba5cf68 > div:nth-child(1){
   width: 80%!important;
}

/*Conteneur formulaire Commande*/
.commander #gallery-1{
   display: flex;
   justify-content: space-between;
}

/*Taille Galerie + input 80%*/
.commander div.elementor-element:nth-child(4){
   width: 90%!important;
}

/*Taille formulaire 80%*/
.commander .wpcf7-form{
   max-width: 90%;
}

/*Taille formulaire 80%*/
.commander dl.gallery-item:nth-child(1){
   width: 24%!important;
}
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./*RESPONSIVE*//*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*./
/*RESPONSIVE*/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*//*RESPONSIVE VERSION MOBILE*/
/*Ecrans Mobile entre 320px à 767px */
@media only screen and (min-width: 320px) and (max-width: 767px){
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*//*RESPONSIVE 320px à 768px*/
/*Header*/

/*Logo Header*/
.custom-logo{
   width: 100%;
}

/*Menu Header*/
#menu-menu-principale{
   display: flex;
   flex-direction: column;
}

/*Menu Nav*/
#menu-menu-principale li{
   height: 26.66px!important;
   width: 100%!important;
   line-height: 26.66px !important;
}

/*Menu à droite*/
.menu-menu-principale-container{
   display: flex;
  justify-content: flex-end;
}

/*Texte menu Commander*/
#menu-item-40{
   text-align: center;
}

/*Texte menu Nous rencontrer*/
#menu-item-39{
   text-align: center;
}

/*Texte menu Admin*/
#menu-menu-principale > li:nth-child(3){
   text-align: center;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*HOME*/ 

/*Conteneur Séparateur arrondi*/
.home .elementor-element-e872f88{
   position: relative;
   background: #ECE2DA;
   height: 35vh;
   border-bottom-left-radius: 50% 20%;
   border-bottom-right-radius: 50% 20%;
   border-bottom: 12px solid#E3D9D0;
}

/*Conteneur padding 0*/
.home .elementor-element-b36a5ed{
   padding: 0!important;
   padding-top: 0!important;
} 

/*Conteneur padding top 40px*/
.home .elementor-element-2bc2b43 > div:nth-child(1){
   padding-top: 40px;
}
/*Titre H1*/
.home h1.elementor-heading-title{
  font-weight: 800!important;
  font-size: 24px!important;
}



/*Supprimer feuille droite*/
.home .elementor-element-09150f8 > div:nth-child(1) > img:nth-child(1){
   margin-left: 150%!important;
   bottom: 718px;
}

/*Agrandir canette Principal*/
.home .elementor-element-ba57524{
   width: 100%;
   margin: auto;
}



/*Supprimer séparateur*/
.home div.elementor-spacer:nth-child(2) > div:nth-child(1){
   display: none;
}

/*Supprimer séparateur*/
.home .e-con-inner{
 padding-top: 0;
}

/*Supprimer Bordure incurvé*/
.home .elementor-element-d6b8510{
   display: none;
}

/*Agrandir espace sous L'énergie des plantes TEXTE*/
.home div.inspect_panels--contentProperty--McE5j:nth-child(5){
   padding-bottom: 20px;
}

/*Agrandir espace sous Les goûts TEXTE*/
.home .elementor-element-f65e99d > div:nth-child(1) > p:nth-child(1){
   padding: 10px;
}

/*conteneur galerie 4 images*/
.home .elementor-element-566e9c9{
   width: 100%;
   height: 280px;
  
}

/*Image Fraise + Titre*/
.home .elementor-element-27cb8b2 > div:nth-child(1) > img:nth-child(1){
   width: 100%!important;
   height: 100%!important;
   margin-left: 0;
}

/*Titre*/
.home .elementor-element-9f5b5f0 > div:nth-child(1){
   width: 100%;
   margin-left: 0;
}

/*Image Framboise + Titre*/
.home .elementor-element-f6ba255 > div:nth-child(1) > img:nth-child(1){
   width: 100%!important;
   height: 100%!important;
   margin-right: 0!important;
}

/*Titre*/
.home .elementor-element-89b88ab > div:nth-child(1){
   width: 100%!important;
   margin-right: 0!important;
   padding-top: 10px;
}

/*Image Pamplemousse + Titre*/
.home .elementor-element-77821b1 > div:nth-child(1) > img:nth-child(1){
   width: 100%!important;
   height: 100%!important;
   margin-left: 0;
}

/*Titre*/
.home div.elementor-element:nth-child(7) > div:nth-child(1){
   width: 100%;
   margin-left: 0;
   padding-top: 65px;
}

/*Image Citron + Titre*/
.home .elementor-element-d08c8a8 > div:nth-child(1) > img:nth-child(1){
   width: 100%!important;
   height: 100%!important;
   margin-right: 0!important;
}

/*Titre*/
.home div.elementor-element:nth-child(8) > div:nth-child(1){
   width: 100%!important;
   margin-right: 0!important;
   padding-top: 55px;
}

/*Titre*/
.home .elementor-element-3b73ce8 > div:nth-child(1) > h3:nth-child(1){
   background-color: white;
   font-weight: 800!important;
}


/*Home Titre Fraise*/
.home .elementor-element-9f5b5f0 > div:nth-child(1) > h1:nth-child(1){
   font-size: 20px!important;
   font-weight: 700!important;
}

/*Home Titre Pamplemousse*/
.home .elementor-element-89b88ab > div:nth-child(1) > h1:nth-child(1){
   font-size: 20px!important;
   font-weight: 700!important;
}

/*Home Titre Framboise*/
.home  .elementor-element-40cf025{
   bottom: 500px;
}

/*Home Titre Framboise*/
.home .elementor-element-40cf025 > div:nth-child(1) > h1:nth-child(1){
   font-size: 20px!important;
   font-weight: 700!important;
}

/*Home Titre Citron*/
.home div.elementor-element:nth-child(8){
   bottom: 510px;
}

/*Home Titre Citron*/
.home div.elementor-element:nth-child(8) > div:nth-child(1) > h1:nth-child(1){
   font-size: 20px!important;
   font-weight: 700!important;
}

/*Home Titre Fraise placement OK*/
.home .elementor-element-9f5b5f0 > div:nth-child(1) > h1:nth-child(1){
   padding-top: 250px!important;
}

/*Home Titre Pamplemousse placement*/
.home .elementor-element-89b88ab > div:nth-child(1){
   padding-top: 240px;
}

/*Home Titre Framboises placement*/
.home .elementor-element-40cf025 > div:nth-child(1){
   padding-top: 0px!important;
}


/*Espaceur*/
.home .elementor-element-5d12a65 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
   display: none;
}

/*Espaceur*/
.home .elementor-element-5d12a65{
   display: none;
}

/*Galerie Ce qu'ils enpensent en colonnes*/
.home #gallery-1{
  flex-direction: column;
  margin-bottom: 0;
  margin-top: 0;
}

/*Fathia conteneur*/
.home dl.gallery-item:nth-child(2){
   background-color: #FFFFFF;
}

/*Véro conteneur*/
.home dl.gallery-item:nth-child(3){
   background-color: #FFFFFF;
}

/*Marc conteneur*/
.home dl.gallery-item:nth-child(1){
   background-color: #FFFFFF;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*Nous rencontrer*/

/*Supprimer fleur à coté du titre*/
.nous-rencontrer .elementor-element-6a237c0{
  margin-left: 20px;
  margin-top: 5px;
}

/*Padding 0*/
.nous-rencontrer .elementor-element-6b542e9{
   padding: 0;
}

/*Titre Nous rencontrer*/
.nous-rencontrer h1.elementor-heading-title{
   font-size: 24px!important;
   margin-bottom: 30px;
}

/*Titre Nous rencontrer*/
.nous-rencontrer .elementor-element-986747e{
   padding-top: 0!important;
   margin: auto;
}

/*Texte Nous rencontrer*/
.nous-rencontrer .elementor-element-4baf497{
   height: 220px;
}

/*Background Blanc L'équipe*/
.nous-rencontrer .elementor-element-ab83a88{
   background-image: none!important;
   background-color: white!important;
}

/*Titre L'équipe*/
.nous-rencontrer .elementor-element-62a7a90 > div:nth-child(1) > h4:nth-child(1){
   padding-top: 50px;
   padding-bottom: 50px;
}

/*Espacer dans formulaire*/
.nous-rencontrer .elementor-element-f210143{
   display: none;
}

/*Titre Nous contacter*/
.nous-rencontrer .elementor-element-357c7ff > div:nth-child(1) > h4:nth-child(1){
   padding-top: 50px;
   padding-bottom: 50px;
}

/*Supprimer feuille section l'équipe*/
.nous-rencontrer .elementor-element-1ebb1bb > div:nth-child(1) > img:nth-child(1){
   width: 60%;
  padding-top: 660px;
  margin-left: 80px;
}

/*Supprimer feuille section formulaire*/
.nous-rencontrer .elementor-element-6647cc0 > div:nth-child(1) > img:nth-child(1){
   padding-top: 550px;
   right:100px;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*Commander*/

/*Titre Commander*/
.commander h2.elementor-heading-title{
   font-size: 24px!important;
   font-weight: 800!important;
}

/*Separateur horizontal épaisseur 1.5px*/
.commander .elementor-divider-separator{
   height: 1.5px;
}

/*Titre Votre commande*/
.commander .elementor-divider{
   margin-bottom: 0;
}

/*Galerie images Commander*/
.commander div.elementor-element:nth-child(4){
   width: 100%;
}

/*Galerie images en colonnes*/                             
.commander div.elementor-element:nth-child(4) > div:nth-child(1){
   display: grid;
   grid-template-columns: 1fr ;  
}

/*Galerie images élargie*/                             
.commander dl.gallery-item:nth-child(1),dl.gallery-item:nth-child(2),dl.gallery-item:nth-child(3),dl.gallery-item:nth-child(4){
   width: 80%!important;
   padding-top: 0!important;
}

/*Galerie images en colonnes*/
.commander  #gallery-1{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

/*Galerie Input en colonnes*/
.commander .input{
   width: 50%;
   display: flex;
   flex-direction: column;
   z-index: 2;
   position: relative;
   margin-left: 60%;
}

/*Image Fraise*/
.commander dl.gallery-item:nth-child(1) > dt:nth-child(1) > a:nth-child(1) > img:nth-child(1){
   width: 100%;
  height: 100%;
}

/*Image Pamplemousse*/
.commander dl.gallery-item:nth-child(2) > dt:nth-child(1) > a:nth-child(1) > img:nth-child(1){
   width: 100%;
  height: 100%;
}

/*Image Framboise*/
.commander dl.gallery-item:nth-child(3) > dt:nth-child(1) > a:nth-child(1) > img:nth-child(1){
   width: 100%;
  height: 100%;
}

/*Image Citron*/
.commander dl.gallery-item:nth-child(4) > dt:nth-child(1) > a:nth-child(1) > img:nth-child(1){
   width: 100%;
  height: 100%;
}

/*Titre Input Fraise*/
.commander #gallery-1-25{
   bottom: 130px;
}

.commander .input > p:nth-child(1) > span:nth-child(3) > input:nth-child(1){
   bottom: 970px;
  position: relative;
  right: 5px;
}

/*Titre Input Pamplemousse*/
.commander #gallery-1-19{
   bottom: 130px;
}

.commander .input > p:nth-child(2) > span:nth-child(3) > input:nth-child(1){
   bottom: 780px;
  position: relative;
  right: 5px;
}

/*Titre Input Framboise*/
.commander #gallery-1-34{
   bottom: 130px;
}

.commander .input > p:nth-child(3) > span:nth-child(3) > input:nth-child(1){
   bottom: 580px;
  position: relative;
  right: 5px;
}

/*Titre Input Citron*/
.commander #gallery-1-18{
   bottom: 130px;
}

.commander .input > p:nth-child(4) > span:nth-child(3) > input:nth-child(1){
   bottom: 390px;
  position: relative;
  right: 5px;
}

/*Taille formulaire*/
.commander .wpcf7-form{
   max-width: 100%;
}

/*Formulaire une colonne*/
.commander .wpcf7-form > id\=formulaire:nth-child(4){
   display: grid;
   grid-template-columns: 1fr;
   margin: auto;
   justify-content: center;
   width: 80%;
   padding-top: 20px;
}

/*1er Séparateur horizontal largeur max*/
.commander .elementor-element-ba5cf68 > div:nth-child(1){
   width: 80%!important;
}

/*2eme Séparateur horizontal largeur max*/
.commander .separateurH{
   max-width: 80%!important;
}

/*Supprimé séparateur*/
.commander .vertical{
   display: none;
}

/*Rétablisement margin formulaire ancienne colonne de droite LIVRAISON */
.commander .ad-client > h4:nth-child(1){
   margin-left: 5px;
}

/*Rétablisement margin formulaire ancienne colonne de droite ADRESSE*/
.commander .ad-client > p:nth-child(2) > label:nth-child(1){
   margin-left: 5px;
}

/*Rétablisement margin formulaire ancienne colonne de droite INPUT ADRESSE*/
.commander .ad-client > p:nth-child(2) > span:nth-child(3) > input:nth-child(1){
   margin-left: 5px;
}

/*Rétablisement margin formulaire ancienne colonne de droite CODE POSTAL*/
.commander .ad-client > p:nth-child(3) > label:nth-child(1){
   margin-left: 5px;
}

/*Rétablisement margin formulaire ancienne colonne de droite INPUT CODE POSTAL*/
.commander .ad-client > p:nth-child(3) > span:nth-child(3) > input:nth-child(1){
   margin-left: 5px;
}

/*Rétablisement margin formulaire ancienne colonne de droite VILLE*/
.commander .ad-client > p:nth-child(4) > label:nth-child(1){
   margin-left: 5px;
}

/*Rétablisement margin formulaire ancienne colonne de droite INPUT VILLE*/
.commander .ad-client > p:nth-child(4) > span:nth-child(3) > input:nth-child(1){
   margin-left: 5px;
}
}
