/*CSS****HEADER*FOOTER*HOME*NOUS RENCONTRER*COMMANDER**/

body {
   
   font-style: normal;
   color: #000000;
   max-width: 1440px;
   margin: auto;
}

h1{
   font-family: 'Syne', sans-serif;
   font-weight: 800;
   font-size: 38px;
   line-height: 45.6px;
   color: #FFFFFF;
}

h2{
   font-family: 'Syne', sans-serif;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   color: #FFFFFF;
}

p{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   color: #FFFFFF;
}

/* ?? #wrapper ?? */
#wrapper{
   width: 100%;
   height: auto;
}

/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*HEADER*/
/*Header format position, menu en ligne*/
#header{
   top: 0;
   max-width: 100%;
   margin: auto;
   display: flex;
   flex-direction: row;
}

/*Supprimer visuel ...*/
#branding{
   display: none;
}

/*Format position logo Planty*/
.custom-logo {
   width: 100%;
   height: 80px;
   margin-left: 31px;
}

/*Menu en ligne*/
#menu-menu-principale{
   display: flex;
   max-width: 100%;
   margin: auto;
}

/*************************************************/
/*Menu boutons*/

/*Bouton "Vous rencontrer"*/
li.menu-item-40 {
   width: 200px;
   height: 80px;
   margin-left: 650px;
   margin-right: -150px;
   padding: 30px 15px;
   display: inline-block; 
   text-align: center;
}

/*Bouton "Commander"*/
li.menu-item-39 {
   width: 200px;
   height: 80px;
   margin-left: 308px;
   padding: 30px 25px;
   display: inline-block;
   text-align: center;
   background-color: #DC9F96;
   color: #FFFFFF;
   border: none;
}

/*Bouton "Commander" survol de la souris*/
li.menu-item-39:hover{
   background-color: #C02E44;
}


/*Bouton Admin*/
#menu-menu-principale > li:nth-child(3) > a:nth-child(1){
   width: 200px;
   height: 80px;
   margin-left: -400px;
   color:#000000;
   padding: 30px 15px;
   display: inline-block; 
   background-color: #FFFFFF;
   text-align: center;
   
}

/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*FOOTER*/
/*Footer Couleurs...*/
#site-footer > a:nth-child(1) > p:nth-child(1){
   color: #000000;
   background-color: #FFFFFF;
   padding: 20px;
   height: 60px;
   font-weight: 400;
   font-size: 16px;
   font-family: 'Syne', sans-serif;
   text-align: center;
}

/*Conteneur Footer*/
#site-footer {
   width: 100%;
   margin: auto;
   margin-bottom: auto;
}

/*Balise??*/
#site-footer > a:nth-child(1){
   z-index: 2;
}


/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*HOME*/
/*Conteneur Page complete*/
.elementor-element-b36a5ed{
   width: 100%;
   height: 950px;
}

/*Titre Principal "Boisson énergisante"*/
h1.elementor-heading-title:nth-child(2){
   width: 100%;
   margin-left: 180px;
   margin-top: 50px;
}

/*Titre Principal "100% naturelle"*/
.elementor-element-690c68d{
   width: 100%;
   margin-left: -200px;
   height: 90px;
}
.elementor-element-690c68d > div:nth-child(1){
   width: 100%;
   margin: auto;
}

/*************************************************/
img.attachment-2048x2048:nth-child(2){
   width: 100%;
 
}
/*Image principal feuille gauche Planty*/
.elementor-element-90142b3{
   width: 100%;
}
/*Image principal canette Planty*/
.elementor-element-1d92cf2{
   width: 100%;

}
/*Image principal feuille droite Planty*/
.elementor-element-9de8589 > div:nth-child(1){
   width: 100%;

}




/*Conteneur "L'énergie des plantes"*/
.elementor-element-cd1e9d8{
   width: 100%;
   height: 415px;
}



/*Conteneur "Ce qu'ils pensent"*/
.elementor-element-19732f8{
   width: 100%;
   height: 638px;

}

/*Titre "Ce qu'ils pensent"*/
.elementor-element-6e25574{
   width: 582px;
   height: 36px;
   margin: auto;
   margin-top: 150px;
}

/*Conteneur "Ce qu'ils pensent" 3 Photos Fathia Véro et Marc*/
.elementor-element-bec3921{
   width: 100%;
   height: 376px;
   margin-top: 120px; 
}


/*************************************************/

/*Conteneur Image Fathia*/
.elementor-element-552726d
/* Image Fathia*/
.elementor-element-4ff51dd{
   width: 126.28px;
   height: 139px;
   margin-left: 132px;
}
/*OU Image Fathia*/
.elementor-element-4ff51dd > div:nth-child(1)
/*OU Image Fathia*/
.wp-image-30

/*Conteneur Titre+Texte Fathia*/
.elementor-element-388ff18
/*Conteneur Titre Fathia*/
.elementor-element-262cbdd
/*Titre Fathia*/
.elementor-element-262cbdd > div:nth-child(1)
/*Conteneur Texte Fathia*/
.elementor-element-b83191a
/*Texte Fathia*/
.elementor-element-b83191a > div:nth-child(1)

/*************************************************/

/*Conteneur Image Véro*/
.elementor-element-6628bd7{
   width: 126.28px;
   height: 139px;
}
/* Image Véro*/
.img:nth-child(1)
/*OU Image Véro*/
.elementor-element-3714bf2 > div:nth-child(1)
/*OU Image Fathia*/
.wp-image-31

/*Conteneur Titre+Texte Véro*/
.elementor-element-db2fc8a
/*Conteneur Titre Véro*/
.elementor-element-1930ccc
/*Titre Véro*/
.elementor-element-1930ccc > div:nth-child(1)
/*Conteneur Texte Véro*/
.elementor-element-9ecfe42
/*Texte Véro*/
.elementor-element-9ecfe42 > div:nth-child(1)


/*************************************************/

/*Conteneur Image Marc*/
.elementor-element-5d0c627
/* Image Marc*/
.elementor-element-ad1a9dd
/*OU Image Marc*/
.elementor-element-ad1a9dd > div:nth-child(2)
/*OU Image Marc*/
.wp-image-32{
   width: 126.28px;
   height: 139px;
   margin-left: 960px;
}


/*Conteneur Titre+Texte Marc*/
.elementor-element-96935f2
/*Conteneur Titre Marc*/
.elementor-element-4608955
/*Titre Marc*/
.elementor-element-4608955 > div:nth-child(2)
/*Conteneur Texte Marc*/
.elementor-element-ac6dcd1
/*Texte Marc*/
.elementor-element-ac6dcd1 > div:nth-child(2)




/*************************************************/

/*Conteneur bannière canettes*/
.elementor-element-6f4f3f2{
   width: 100%;
   height: 262px;
 
}

/*Image banière canettes*/
.elementor-element-d166689{
   width: 100%;
   height: 262px;
}

.elementor-element-d166689 > div:nth-child(1)

.elementor-element-d166689 > div:nth-child(1) > img:nth-child(1){
   width: 100%;
   height: 262px;
}


/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*NOUS RENCONTRER*/
/*Conteneur Page complete*/
.elementor{
   margin: auto;
   width: 100%;
   height: auto;
}


.elementor-element-6a237c0 > div:nth-child(1) > img:nth-child(2){
   margin-top: 81px;
   margin-left: 184.2px;
   width: 145.3px;
   height: 150.26px;
}

/*Conteneur fleur 20%*/
.elementor-element-a53cb48{
   width: 20%;
}
/*Conteneur élément TITRE TEXTE IMAGE*/
.elementor-element-6b542e9{
   width: 100%;
   height: 415px;
}

/*Conteneur élément TITRE TEXTE 80%*/
.elementor-element-8d7b988{
   width: 80%;
}


/*Titre Principal "Nous renconter"*/
.elementor-element-986747e > div:nth-child(1){
   width: 680px;
   height: 46px;
   margin-top: 186px;
   margin-left: -80px;
}

/*Texte Principal "Nous renconter"*/
.elementor-element-4baf497 {
   width: 669px;
   height: 72px;
   margin-left: 98px;
}

/*Image fleur rotation -70°*/
img.attachment-thumbnail:nth-child(2){
   margin-top: 151px;
   margin-left: 284.2px;
   rotate: 290deg ;
   width: 145.3px;
   height: 150.26px;
   
}


/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*L'équipe*/
/*Conteneur de l'équipe*/
.elementor-element-0875e95{
   width: 100%;
   height: 554px;
}


/*************************************************/
/*Conteneur Mégane*/
.elementor-element-efecd6f{
   width: 33.33%;
}

/*Conteneur Photo Mégane*/
.elementor-element-4e4c3fc{
   width: 100%;
   height: 100%;
}
/*Photo Mégane*/
.elementor-element-4e4c3fc > div:nth-child(1){
   width: 167px;
   height: 167px;
   margin-left: 312px;
   margin-top: 228px;
}

/*Prenom Mégane*/
.elementor-element-e7fcd18 {
   margin-left: 350px;
}

/*Métier Mégane*/
.elementor-element-0b61450 > div:nth-child(1){
   margin-left: 350px;
}


/*************************************************/
/*Conteneur Brooke*/
.elementor-element-9a12d0d{
   width: 33.33%;
}

/*Conteneur TITRE L'EQUIPE dans conteneur Brooke*/
.elementor-element-62a7a90 > div:nth-child(1){
   margin-top: 140px;
}

/*Conteneur Photo Brooke*/
.elementor-element-bb24a9d{
   width: 100%;
   height: 100%;
}

/*Photo Brooke*/
.elementor-element-bb24a9d > div:nth-child(1){
   width: 167px;
   height: 167px;
   margin: auto;
   margin-top: 28px;
}

/*Prenom Brooke*/
.elementor-element-224a4a4 > div:nth-child(1){
   margin: auto;
}

/*Métier Brooke*/
.elementor-element-c9caef5 > div:nth-child(1){
   margin: auto;
}


/*************************************************/
/*Conteneur Sylvie*/
.elementor-element-2ba26f8{
   width: 33.33%;
}

/*Conteneur Photo Sylvie*/
.elementor-element-ddf0f56{
   width: 100%;
   height: 100%;
}

/*Photo Sylvie*/
.elementor-element-ddf0f56 > div:nth-child(1) > img:nth-child(1){
   width: 167px;
   height: 167px;
   margin-left: -312px ;
   margin-top: 228px;
}

/*Prenom Sylvie*/
.elementor-element-28cb18f > div:nth-child(1){
   margin-left: -312px ;
}

/*Métier Sylvie*/
.elementor-element-3e37fbc > div:nth-child(1){
   margin-left: -312px ;
}

/*************************************************/
/*Feuille verte*/
.elementor-element-1ebb1bb{
   width: 100%;
   height: 100%;
}

/*Feuille verte image*/
.elementor-element-1ebb1bb > div:nth-child(1) > img:nth-child(1){
   width: 191.21px;
   height: 219.08px;
   margin-top: 30px;
   margin-left: 1050px;
}

/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*SECTION FORMULAIRE DE CONTACT*/
/*Conteneur du formulaire*/
.elementor-element-ee4fdbf{
   width: 100%;
   background-color: #E0B9B4;
}

/*FORMULAIRE COMPLET (Nom Email Message Bouton)*/
.elementor-element-968e99b{
width: 100%;
z-index: 2;
}


/*************************************************/
/*Formulaire contact*/
/*"Titre principal" formulaire contact "Nous contacter"*/
h1.elementor-heading-title:nth-child(1){
   margin-left: 591px;
   width: 256px;
   height: 36px;
}


/*************************************************/
/*Formulaire contact*/
/*Supprimer info titre du formulaire "Nous contacter"*/
.nf-form-title{
   display: none;
}
/*Supprimer info champs obligatoire * des formulaire "nous contacter" et "commander"*/
.nf-form-fields-required{
   display: none;
}

/*Supprimer mes étoile * champs obligatoire des formulaires "nous contacter" et "commander"*/
.ninja-forms-req-symbol{
   display: none;
}


/*************************************************/
/*Formulaire contact*/
/*"Nom" formulaire "Nous contacter"*/
#nf-label-field-5{
   margin-left: 529px;
}
/*Conteneur ecriture "Nom" (Blanc) formulaire "Nous contacter"*/
#nf-field-5{
   margin-left: 529px;
   width: 383px;
   height: 71px;
}

/*"Email" formulaire "Nous contacter"*/
#nf-label-field-6{
   margin-left: 529px;
}
/*"Conteneur ecriture Email" (Blanc) formulaire "Nous contacter"*/
#nf-field-6{
   margin-left: 529px;
   width: 383px;
   height: 71px;
}

/*"Message" formulaire "Nous contacter"*/
#nf-field-7-wrap > div:nth-child(1){
   margin-left: 529px;
}
/*Conteneur ecriture "Message" (Blanc) formulaire "Nous contacter"*/
#nf-field-7{
   margin-left: 529px;
   width: 383px;
   height: 237px;
}

/*Bouton Envoyer formulaire "Nous contacter"*/
#nf-field-8{
   margin-left: 621px;
   width: 198px;
   height: 55px;
   background-color: #E0B9B4;
   color: #FFFFFF;
   border-radius: 5px;
   margin-left: 621px;
}


/*************************************************/
/*Formulaire contact*/
/*Image plante formulaire "Nous contacter"*/
.elementor-element-6647cc0 > div:nth-child(1) > img:nth-child(1){
   margin-left: 172px;
   margin-top: 545px;
   width: 147.32px;
   height: 134.97px;
   z-index: 1;
}


/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*Conteneur pied de page banniere cannette*/
.elementor-element-04c5920{
   width: 100%;
   height: 172px;

}
.elementor-element-e87b8a2{
   width: 100%;
   height: 172px;
}

/*Cannettes image banniere*/
.elementor-element-e87b8a2 > div:nth-child(1) > img:nth-child(1){
   width: 100%;
   height: 172px;
 
}

/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*COMMANDER*/
/*Page complète background VERT*/
.elementor-element-f97b15a{
   width: 100%;
}


/*??Balise??*/
div.elementor-element:nth-child(4)
/*??Balise??*/
div.elementor-element:nth-child(4) > div:nth-child(1)
/*??Balise??*/
.elementor-image-gallery

/*Conteneur titre"COMMANDER"*/
h1.elementor-heading-title{
   width: 100%;
}

/*Titre "COMMANDER"*/
.elementor-element-eed2b19{
   width: 100%;
   height: 46px;
   margin-left: -150px;
   font-family: 'Syne', sans-serif;
   font-weight: 800;
   font-size: 38px;
   line-height: 45.6px;
   text-align: center;
}

/*Séparateur horizontal blanc N:1*/
.elementor-divider{
   width: 860px;
   margin: auto;
   margin-top: 69px;
}

/*Titre "Votre commande"*/
div.elementor-element:nth-child(3){
   width: 100%;
   height: 36px;
   margin-left: 282px;
   font-family: 'Syne', sans-serif;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
}


/*************************************************/
/*Galerie*/
#gallery-1{
   width: 100%;
   display: flex;
}


/*Conteneur Titre fraise*/
#gallery-1-25{
   z-index: 2;
   margin-top: -50px;
   margin-right: 150px;
}

/*Titre fraise*/
dl.gallery-item:nth-child(1){
   color: #FFFFFF;
   margin-left: 306.01px;
   font-weight: 800;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
}

/*Image fraise*/
dl.gallery-item:nth-child(1) > dt:nth-child(1){
   width: 192.53px;
   height: 128.36px;
}

/*??Balise??*/
dl.gallery-item:nth-child(1) > dt:nth-child(1) > a:nth-child(1)


/*************************************************/
/*Conteneur Titre pamplemousse*/
#gallery-1-19{
   z-index: 2;
   margin-top: 0px;
   margin-left: 0px;
}


/*Titre pamplemousse*/
dl.gallery-item:nth-child(2){
   color: #FFFFFF;
   margin-left: -99px;
   font-weight: 800;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   
}

/*Image pamplemousse*/
dl.gallery-item:nth-child(2) > dt:nth-child(1){
   width: 192.53px;
   height: 128.36px;
}

/*??Balise??*/
dl.gallery-item:nth-child(2) > dt:nth-child(1) > a:nth-child(1){
   width: 100%;
   margin-top: 0px;
}


/*************************************************/
/*Conteneur Titre framboise*/
#gallery-1-34{
   z-index: 2;
   margin-top: -50px;
   margin-right: 155px;
}

/*Titre framboise*/
dl.gallery-item:nth-child(3){
   color: #FFFFFF;
   margin-left: -99px;
   font-weight: 800;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   
}

/*Image framboise*/
dl.gallery-item:nth-child(3) > dt:nth-child(1){
   width: 192.53px;
   height: 128.36px;
}

/*??Balise??*/
dl.gallery-item:nth-child(3) > dt:nth-child(1) > a:nth-child(1)

/*************************************************/
/*Conteneur Titre citron*/
#gallery-1-18{
   z-index: 2;
   margin-top: -50px;
   margin-right: 155px;
}

/*Titre citron*/
dl.gallery-item:nth-child(4){
   color: #FFFFFF;
  
   font-weight: 800;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   
}

/*Image citron*/
dl.gallery-item:nth-child(4) > dt:nth-child(1){
   width: 192.53px;
   height: 128.36px;
}

/*??Balise??*/
dl.gallery-item:nth-child(4) > dt:nth-child(1) > a:nth-child(1)


/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*FORMULAIRE COMMANDER*/

/*Conteneur Formulaire*/
.elementor-element-71a3374{
   width: 100%;
}

/*Conteneur Short-Code*/
.elementor-element-ea3f93c{
   width: 100%;
}

/*Conteneur 4 Inputs commnade en ligne*/
.input{
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   justify-content: center;
   flex-direction: row;
}


/*************************************************/
/*Supprimer label input fraise*/
.quantite-fraise{
   display: none;
}

/*Supprimer label input pamplemousse*/
.quantite-pamplemousse{
   display: none;
}

/*Supprimer label input framboise*/
.quantite-framboise{
   display: none;
}

/*Supprimer label input citron*/
.quantite-citron{
   display: none;
}


/*************************************************/
/*Séparateur horizontal sous input commande*/
.separateurH{
   margin: auto;
   margin-top: 30px;
   margin-bottom: 30px;
}

/*Conteneur Info Client 2 colonnes*/
.info-client{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 30px auto;
   width: 860px;
}

/*Afficher Nom, Prénom, Email colonne de gauche*/
.info-client > h2:nth-child(1),.info-client > p:nth-child(2),.info-client > p:nth-child(3), .info-client > p:nth-child(4){
   grid-column-start: 1;
   grid-column-end: 3;
   width: 383px;
   height: 71px;
   border: 7px;
}

.info-client > h2:nth-child(5), .info-client > p:nth-child(6),.info-client > p:nth-child(7), .info-client > p:nth-child(8){
   grid-column-start: 2;
   grid-column-end: 3;
}




/*Bouton COMMANDER*/
.wpcf7-submit{
   width: 198px;
   height: 55px;
   border: 5px;
   margin-left: 631px;
   background-color: #E0B9B4;
   color: #FFFFFF;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 37px;
   text-align: center;
   margin-bottom: 90px;
}